* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --brand-color: darkblue;
    --nav-link-color: white;
    --spacing-small: 10px;
    --thumb-width: 150px;
    --image-padding: 2px;
    --image-shadow: 0 0 30px gray;
    --border-dark-color: #000;
    --border-alt: 1px solid steelblue;
    --border-dark: 1px solid var(--border-dark-color);
}

nav {
    background-color: var(--brand-color);
    padding: var(--spacing-small);
}

nav a {
    color: var(--nav-link-color);
    display: block;
    padding: var(--spacing-small);
}

h1 {
    color: var(--brand-color);
    padding: .5rem;
}

img {
    width: var(--thumb-width);
    height: auto;
    border: var(--border-alt);
    padding: var(--image-padding);
    box-shadow: var(--image-shadow);
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 50px;
    left: 90px;
}

main img {
    width: var(--thumb-width);
    height: auto;
    border: var(--border-dark);
    padding: var(--image-padding);
    box-shadow: var(--image-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    margin: 1rem;
}

main {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent{
    padding-left: 2rem;
}


    